<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ hero?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    (click)="handleFlip()"
    class="flip-container"
    [ngClass]="{ hover: flipCard }"
  >
    <div class="flipper">
      <ion-card class="front" [ngClass]="hero?.color">
        <img [src]="hero?.images" />
        <ion-card-header>
          <ion-card-subtitle>{{ hero?.biography.publisher }}</ion-card-subtitle>
          <ion-card-title>{{ hero?.name }}</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="back" [ngClass]="hero?.color">
        <ion-card-header>
          <ion-card-subtitle>{{ hero?.biography.fullName }}</ion-card-subtitle>
          <ion-card-title>{{ hero?.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-powerstats [powerstats]="hero?.powerstats"></app-powerstats>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
