<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ hero?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <ion-card
        class="front"
        style="border: 10px solid"
        [ngStyle]="{ 'border-color': hero?.color }"
      >
        <img [src]="hero?.images.lg" />
        <ion-card-header class="transparent">
          <ion-card-subtitle>{{ hero?.biography.publisher }}</ion-card-subtitle>
          <ion-card-title>{{ hero?.name }}</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card
        class="back"
        style="border: 10px solid"
        [ngStyle]="{ 'border-color': hero?.color }"
      >
        <ion-card-header>
          <ion-card-subtitle>{{ hero?.biography.publisher }}</ion-card-subtitle>
          <ion-card-title>{{ hero?.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ hero?.connections.groupAffiliation }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
