<ion-header>
  <ion-toolbar>
    <ion-title>
      Heros list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="inputSearch($event)"></ion-searchbar>
  <ion-list lines="none">
    <ion-item
      [routerLink]="['heros/', { id: hero.id }]"
      routerDirection="forward"
      routerLinkActive="router-link-active"
      *ngFor="let hero of heros"
    >
      <ion-avatar slot="start">
        <img [src]="hero.images" />
      </ion-avatar>
      <ion-label>
        <h2>{{ hero.name }}</h2>
        <h3>{{ hero.biography.fullName }}</h3>
        <p>{{ hero.biography.publisher }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
